{% block stylesheets %}
    {{ encore_entry_link_tags('base') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('base') }}
{% endblock %}
{% extends 'layout.html.twig' %}
{% block body %}
    <h2>Bienvenue sur le site d'administration la map intéractive du Pôle Yvon Morandat.</h2>
    <h3>Lien de la map intéractive: <a href="map-pym.com">map-pym.com</a></p></h3>
    <h5>Ce site a été dévellopé par un groupe d'élèves de l'école d'ingénieur des Mines de Saint Étienne dans le cadre d'un projet commun avec la SEMAG.</p>
    Voici la liste des étudiants ayant participé au projet: Adrien BENDIMERAD, Loïc DELEFORTERIE, Yuan FENG, Paul GRANDAMME et Florian TÉSOR.</h5>
{% endblock %}