{% block stylesheets %}
    {{ encore_entry_link_tags('base') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('base') }}
{% endblock %}
{% extends 'layout.html.twig' %}
{% block body %}
    <h1>Bonjour</h1>
    <h2>Bienvenue sur le site du Pôle Yvon Morandant.</h2>
    <h2>Depuis ce site, vous pouvez administrer la base de données de l'application.</h2>
{% endblock %}
