.card{
    position: fixed;
    margin-left: 20%;
    margin-top: 150px;
    background: white;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    color: white;
    text-align: center;
    
}

.reg{
    margin-top: 20px;
    background: transparent;
    border: 3px solid #343a40;
    text-align: center;
}
.reg-end{
    margin-bottom: 30px;
}


@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './layout.css';