@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './layout.css';

.entreprises{
    margin-left: 20%;
}

.entreprises .navbar{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entreprises input{
    color: white;
    background: transparent;
    padding: 6px 20px 6px 30px;
    border: 2px solid #ffffff;
}

.entreprises table{
    margin-top: 30px;
    position: relative;
    height: auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entreprises th{
    text-align: center;
}

.entreprises td{
    text-align: center;
}
.dropdown-menu a{
    text-align: center;
    
}
.dropdown-menu a:hover{
    background: #343a40;
    color: white;
}

.clickabletd{
    cursor: pointer;
}
.entreprises .Contacts{
    height: auto;
    width: max-content;
}
.entreprises .contacts-index{
    border-right: 2px solid white;
}

.contactHead {
    background: rgb(96, 96, 224);
}

.Contacts table{
    width: 100%;
}

#entreprisesTable #entrepriseBody>tr:nth-child(4n+1) {
    background: rgba(0, 0, 0, 0.05);
}

#entreprisesTable #entrepriseBody>tr:nth-child(4n+3) {
    background: rgba(0, 0, 0, 0);
}

/* #entreprisesTable #batBody>tr:hover {
    background: rgba(0, 0, 0, 0.08);
} */

#entreprisesTable #entrepriseBody .searchHide:hover{
    background-color: rgba(0, 0, 250, 0.08);
}

.clickabletd{
    cursor: pointer;
}

.logo-entreprise{
    max-width: 39.2;
    max-height: 39.2;
}