@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './layout.css';

.container-fluid{
    position: relative;
    margin-left: 20%;
    margin-top: 20px;
}

.row{
    margin: 0;
}

.contacts{
    margin-top: 20px;
    width: 75%;
}

.entreprise{
    width: 75%;
}

.contacts .navbar{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts input{
    color: white;
    background: transparent;
    padding: 6px 20px 6px 30px;
    border: 2px solid #ffffff;
}

.contacts table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts th{
    text-align: center;
}

.contacts td{
    text-align: center;
}

.entreprise .card{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.entreprise .card-header{
    text-align: center;
    background: #343a40;
    color: white;

}

.entreprise .card-body{
    margin-top: 20px;
    
}

.entreprise .list-group{
    border: 2px solid #343a40;
}

.entreprise img{
    border-radius: 8px;
    height: auto;
    max-height: 1200px;
    max-width: 100%;
}

.dropdown-menu a{
    text-align: center;
    
}
.dropdown-menu a:hover{
    background: #343a40;
    color: white;
}