@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './layout.css';

.container-fluid{
    margin-top: 20px;
    margin-left: 20%;
}

/* .scrolling-bar thead{
    width: 97%;
}

.scrolling-bar tbody{
    height: 260px;
    overflow-y: auto;
    width: 100%;
}

.scrolling-bar thead, .scrolling-bar tbody, .scrolling-bar tr, .scrolling-bar td, .scrolling-bar th{
    display: block;
}

.scrolling-bar tbody td, .scrolling-bar thead>tr>th{
    float: left;
    border-bottom-width: 0;
} */

table {
    width: 100%;
}
  
table, td {
border-collapse: collapse;
}

thead {
display: table; /* to take the same width as tr */
width: calc(100% - 17px); /* - 17px because of the scrollbar width */
}

tbody {
display: block; /* to enable vertical scrolling */
max-height: 600px; /* e.g. */
overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

th, td {
width: 33.33%; /* to enable "word-break: break-all" */
padding: 5px;
word-break: break-all; /* 4. */
}

tr {
display: table; /* display purpose; th's border */
width: 100%;
box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
border-bottom: none;
border-left: none;
}

.Activites .navbar{
    width: calc(100% - 17px);
    margin-bottom: 2%;
}

.Postes .navbar{
    width: calc(100% - 17px);
    margin-bottom: 2%;
}

.dropdown-menu a{
    text-align: center;
    
}
.dropdown-menu a:hover{
    background: #343a40;
    color: white;
}