.card{
    position: fixed;
    margin-left: 20%;
    margin-top: 150px;
    background: white;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    color: white;
    text-align: center;
    
}

.reg-email{
    margin-top: 20px;
    background: transparent;
    border: 3px solid #333;
    text-align: center;
}

.reg-username{
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #333;
    text-align: center;
}

.role{
    padding: 10px 15px 10px 15px;
    color: #333;
    background: transparent;
    border: 3px solid #333;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './layout.css';