@import "../styles.scss";
.header{
    z-index: 2;
    width: 100%;
    position: fixed;
}
.view{
    z-index: 0;
    position: fixed;
}

.data{
  z-index: 1;
  position: fixed;
  // margin-top: 50px;
  width: 100%;
  top: 56px;
  overflow-y: scroll;
}

.footer{
  z-index: 3;

}

