<div class="modal-search rounded">
  <div class="modal-header col-12">
    <a class="infosHide down col-2" data-dismiss="modal" aria-label="Down" (click)="hideInfos()">
      <button class="infosHide" type="button" aria-controls="collapsibleNavId" aria-expanded="false">
        <span class="arrow-data navbar-toggler-icon" aria-hidden="true"></span>
      </button>
    </a>
    <div class="modal-title col-8">
      <!-- <img src="assets/icon/1259px-Twitter_Bird.svg.png" id="logo" class="img-fluid" alt="Responsive image" height="50%" width="50%"> -->
      <h4 class="strong">Entreprises</h4>
    </div>
    <a class="close col-2" data-dismiss="modal" aria-label="Close" [routerLink]="['']"
      routerLinkActive="router-link-active" (click)="deZoom()">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    <input class="form-control mr-sm-2 searchbar" type="search" placeholder="Rechercher" list="result" #searchbar>
    <ul class="list-group entreprises">
      <li *ngFor="let item of entreprises | searchbar : searchbar.value" class="list-group-item">
        <a [routerLink]="['/entreprise', item.id]" class="link" (click)="focus(item.idBatiment)">
          <div class="row">
            <div class="col-xs-2 logo">
              <img class="img-fluid logo-entreprise" src="{{urlEntreprise}}{{item.logo}}" />
            </div>
            <div class="col-xs-10">
              {{item.nom}}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
