{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('entrepriseIndex') }}
{% endblock %}

{% block body %}
    <div class="entreprises">
        <a href="{{path('domaine_edit',{'id':1})}}" >Modifier</a>
        <img class="img-fluid" src="{{asset('uploads/domaine/' ~ file)}}"/>
    </div>
{% endblock %}
