@import "../../../styles.scss";

li{
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid lightgray;

}

.contact-horizontal{
  overflow-x: scroll;
  width: 100%;
}

.list-group-horizontal > .list-group-item {
  min-width: 9rem;
}