@import "../../../styles.scss";

.searchbar[type=search]:focus:not([readonly]){
    border : 2px solid $semag-color-tertiary;
    box-shadow: 0 0 0 1px $semag-color-tertiary;
}

.dropdown-menu{
    max-height: 200px;
    overflow-y: scroll;
}

.searchbar[type=search]{
  border : 1px solid $semag-color-tertiary;
  box-shadow: 0 0 0 1px $semag-color-tertiary;
}

.search{
  background-color: $semag-color-tertiary;
  color: white;
  width: 100%;
}

.space{
  margin-left: 1%;
}
.informations{
  background-color: $semag-color-tertiary;
  color: white;
  width: 100%;

}
