<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="" routerLinkActive="router-link-active">Pôle Yvon Morandat</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show">
    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownBat" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Bâtiments</a>
        <div class="dropdown-menu" aria-labelledby="dropdownBat">
          <a [routerLink]="['/batiment', elt.id]" routerLinkActive="router-link-active"
          class="dropdown-item dropdown-picture" *ngFor="let elt of batiments | batimentfilter" (click)="toggleCollapse(); focus(elt.id)">{{elt.nom}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownEnt" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Entreprises</a>
        <div class="dropdown-menu" aria-labelledby="dropdownEnt">
          <a [routerLink]="['/entreprise', elt.id]" routerLinkActive="router-link-active"
            class="dropdown-item dropdown-picture" *ngFor="let elt of entreprises" (click)="toggleCollapse(); focus(elt.idBatiment)">{{elt.nom}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownEqui" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Equipements</a>
        <div class="dropdown-menu" aria-labelledby="dropdownEqui">
          <button  class="dropdown-item dropdown-picture" (click)="equipement(0)" *ngIf="this.routertab[0] != 0">Arrêt de bus</button>
          <button class="dropdown-item dropdown-picture" (click)="equipement(1)" *ngIf="this.routertab[1] != 0">IRVE</button>
          <button  class="dropdown-item dropdown-picture" (click)="equipement(2)" *ngIf="this.routertab[2] != 0">PAV</button>
        </div>
      </li>
    </ul>
    <div class="my-2 my-lg-0 ">
        <a [routerLink]="['/recherche']" class="btn search" (click)="toggleCollapse()">Rechercher</a>
    </div>
    <div class="my-1 my-lg-0 space">
    </div>
    <div class="my-2 my-lg-0 ">
      <a [routerLink]="['/informations']" class="btn informations" (click)="toggleCollapse()">Informations</a>
    </div>
  </div>
</nav>
