@import "../../../styles.scss";

a{
  color: black;

}
a:hover{
  color: white;
  font-size: 120%;
  text-decoration: none;
}

li{
  margin-top: 1px;
}

li:hover{
  background: $semag-color-tertiary;
}

.logo-entreprise{
  max-height: 32px;
  max-width: 32px;
}
